* {
    margin: 0;
    padding: 0;
    background: #ffff;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1440px;
}

nav {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 8px;
}

a:not(:last-child) {
    margin-right: 15px;
}

a:hover {
    border-bottom: 2px solid darkblue;
}

a.active {
    border-bottom: 2px solid lightgray;
}

input {
    margin-left: 100px;
}

.posts-list {
    width: 100%;
    list-style: none;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.post-list-item {
    margin: 18px auto;
    padding: 15px 0;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-list-item > * {
    margin-bottom: 9px;
}

.post-text-wrapper {
    margin: 30px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 30px;
    border: 1px solid black;
    max-width: 300px;
}